<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		">
		<!-- 의존객체 자동 주입 -->
		<context:annotation-config />
		
		<!-- @Controller -->
		<mvc:annotation-driven />
		
		<!-- root 설정 -->
		<mvc:default-servlet-handler/>
		<mvc:view-resolvers>
			<mvc:jsp prefix="/WEB-INF/view/"/>
			<!--그림파일일 경우에는 실행이 안됨(jsp만 사용가능) -->
			<mvc:jsp suffix=".jsp"/>
		</mvc:view-resolvers>
		
		<!-- 그림 파일,css 등일 경우 prefix 경로 지정 -->
		<mvc:resources location="/WEB-INF/view/" mapping="/**" cache-period="14400"/>
		<!-- /에 있는 모든 파일들을 정함, cache:10일만 설정 -->
		
        <mvc:view-controller path="/" view-name="main/index"/>
 		
		
		<!-- 파일 업로드 -->
		<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipart">
		   <property name="maxUpLoadSize" value="100000000" />
		   <!-- 100메가 사용하겠다는 뜻 -->
		   <property name="maxInMemorySize" value="100000000" />
		</bean>

</beans>
