<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		">
		
	 <!-- db객체 만들기 -->
	 <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
	 <!-- destroy-method="close" : 제거하기 위한 메소드(close로 인해 자동으로 종료) -->
	    <property name="driverClass" value="oracle.jdbc.driver.OracleDriver"/>
	    <property name="jdbcUrl" value="jdbc:oracle:thin:@localhost:1521:xe"/>
	    <property name="user" value="study"/>
	    <property name="password" value="study"/>
	 </bean>
	 
	 <!-- SqlSessionFactory에 dataSource 객체 주입:db에서 connection과 같음 (아래부터는 mybatis사용하기 위한 설정)-->
	 <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
       	 <property name="dataSource" ref="dataSource"/>
       	 <!-- mybatis사용 시 config 파일 설정 -->
       	 <property name="configLocation" value="classpath:mybatis-config.xml"/>
       	 <!-- mapper: 쿼리문만 가지고 있는 파일 , 매퍼파일 경로 설정 -->
       	 <property name="mapperLocations" value="classpath:mapper/**/*Mapper.xml"/>
	 </bean>
	 
	 <!-- db정보 주입할 탬플릿 -->
	 <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate" destroy-method="clearCache">
	 <!-- 위의 sqlSessionFactory 받아와 객체 주입-->
	 <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory" />
	 </bean>
	 	 
	 <!-- dml 트랜젝션  -->
	 <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	 <property name="datasource" ref="datasource"></property> 
	 </bean>
	 <tx:annotation-driven transaction-manager="transactionManager"/>
	 
</beans>


























